body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* العنوان */
header {
  background: #1a1a1a;
  color: white;
  padding: 20px;
  font-size: 24px;
}

/* المنتجات */
.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px;
}

.product {
  background: white;
  width: 220px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* الصور */
.product img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

/* زر الطلب */
button {
  background: #e91e63;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #c2185b;
}
