body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

header {
  background: black;
  color: white;
  padding: 15px;
}

.products {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.product {
  background: white;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
}

button {
  background: black;
  color: white;
  padding: 8px;
  border: none;
}
